# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run
*.txt

# Files from Forge MDK
forge*changelog.txt

# Generated Resources. newp
/src/main/generated_resources

# some other random assets I don't want on the repo
modelassets